$pc: 1024px; // PC
$tab: 680px; // タブレット
$sp: 480px;  // スマホ

@mixin pc {
  @media (min-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (min-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

.section {
  padding: 1rem 1.5rem 0;
  width: 100%;
  z-index: 3;
  @include pc {
    height: calc(100vh - 120px);
  }
  @include sp {
    height: calc(100vh - 120px);
    overflow: scroll;
  }
  .section-ttl {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    color: #35495e;
    // padding-top: 10px;
  }
  .sub-ttl {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #35495e;
  }
}

body {
  font-family: AlfaSlabOne-Regular,sans-serif!important;
}

.icon {
  margin-right: 5px;
}

.pc-only {
  @include sp {
    display: none;
  }
}